{% extends 'base.html' %}
{% block main %}
<h1 class="display-1 text-center">Длинное название</h1>

<div class="row d-flex justify-content-center">
    <div class="col-4"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quo, quae saepe porro repellendus consequatur libero blanditiis temporibus dignissimos laboriosam.</p></div>
</div>
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Prefix</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit expedita accusantium iusto maiores molestias pariatur sint eum itaque. Quibusdam, fugiat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque iusto optio ipsam deserunt, numquam fugit enim error quis natus maiores.</p>
              <div class="d-flex justify-content-center">
                <a href="{% url 'calc' %}" class="btn btn-primary">Calculate</a>
              </div>
              
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Infix</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit expedita accusantium iusto maiores molestias pariatur sint eum itaque. Quibusdam, fugiat.</p>
              <div class="d-flex justify-content-center">
                <a href="{% url 'calc' %}" class="btn btn-primary">Calculate</a>
              </div>
              
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Postfix</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit expedita accusantium iusto maiores molestias pariatur sint eum itaque. Quibusdam, fugiat.</p>
              <div class="d-flex justify-content-center">
                <a href="{% url 'calc' %}" class="btn btn-primary">Calculate</a>
              </div>
              
            </div>
          </div>
    </div>
</div>
{% endblock %}